* {
    margin: 0;
    padding: 0;
    font-family: 'sans-serif';
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #17bdeb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: rgb(63, 18, 44);
    padding: 10px;
    border-radius: 20px;
}

.calculator form input {
    border: 10;
    outline: 20;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    box-shadow: -8px -8px 15px rgba(74, 20, 56, 0.1), 5px 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(43, 7, 43);
    font-size: 20px;
    color: #510679;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal {
    width: 143px;
}

form input.operator {
    color: #510679;
}